<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="Logo" width="85" height="48" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reseaux
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://discord.gg/YQczQKwPbF">Discord</a></li>
                        <li><a class="dropdown-item" href="https://www.twitch.tv/romaykos">Twitch</a></li>
                        <li><a class="dropdown-item" href="https://www.tiktok.com/@romaykoslive">Tiktok</a></li>
                        <li><a class="dropdown-item" href="https://www.instagram.com/roomaykos">Instagram</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="navbar-text">
                <%= title %>
            </h2>
        </div>
    </div>
</nav>